html,body{
	width:100%;
}
.slide{
	position: relative;
	overflow: hidden;
	width:100%;
}
.slide *{
	margin: 0;
	padding: 0;
}
.slide li{
	list-style: none;
}
.slide>*{
	position: absolute;
}
.slide>ul{
	width:500%;
}
.slide>ul>li{
	float: left;
	width:25%;
}
.slide>ul>li a{
	
}
.slide>ul>li img{
	border: none;
}
.slide>ol{
	left:50%;
	bottom: 0px;
}
.slide>ol>li{
	float: left;
	width:60px;
	height:20px;
}
.slide>ol>li span{
	width:60px;
	height: 20px;
	background: rgba(0,0,0,.5);
/*	border-radius: 50%;*/
	display: block;
	cursor: pointer;
	display: none;
}
.slide>p{
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 50%;
	background: rgba(0,0,0,.5);
	cursor: pointer;
	color: white;
	text-align: center;
	line-height: 20px;
	display: none;
}
